/* Google Fonts import for Roboto font. */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

/* Add default color styles to varibles */
:root {
  --light: #f9faf8;
  --dark: #1f2937;
  --logo: #e5e7eb;
  --button: #3882f6;
}

/* Base Styles */

/* Setting Default Styling */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

