/* Google Fonts import for Roboto font. */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

/* Add default color styles to varibles */
:root {
  --light: #f9faf8;
  --dark: #1f2937;
  --logo: #e5e7eb;
  --button: #3882f6;
}

/* Base Styles */

/* Setting Default Styling */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.hero {
  background-color: var(--dark);
  color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 768px;
  padding: 10px 10px;
}

.navbar-logo h2 {
  font-size: 24px;
  color: var(--logo);
}

.navbar-links ul {
  display: flex;
}

.navbar-links li {
  list-style: none;
  padding: 0 10px;
}

.navbar a {
  font-size: 18px;
  color: var(--light);
  text-decoration: none;
}

/* Hero Content */

.content {
  display: flex;
  width: 768px;
  height: 40vh;
}

.content-text {
  width: 200px;
}

.content-img {
  max-width: 100%;
  height: auto;
}
